body {
  font-family: sans-serif;
}



/* Utilities */
.is-fh{
  height: 100vh;
}
/* sidebar */

.sidebar{
  /* background:#f4f4f4; */
  width: 80px !important;
  /* border-right:1px solid #e4e4e4; */
}

.table__wrapper {
  overflow-x: auto;
}

table { 
  max-width:100vw;
  /* overflow-y:scroll; */
  display: block;
}