/*
*/
.is-item-centered {
    align-items: center !important;
    margin-top: auto !important;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.is-va {
    display: flex;
    align-items: center !important;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* text-align: center; */
    justify-content: center !important;
    /* background:#444; */
    /* min-height: 70vh; */
    margin: 0px;
}

.is-ca {
    display: flex;
    align-items: center !important;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* text-align: center; */
    justify-content: center !important;
    /* background:#444; */
    min-height: 100%;
    margin: 0px;
}

.is-vh {
    height: 100vh;
}

.is-vh-80 {
    height: 80vh;
}
.is-vh-60 {
    height: 60vh;
}
.is-fh {
    min-height: 100% !important;
}

/*  */
.has-padding-10{
    padding:10px !important;
}