/*
    .
*/
.is-fixed {
    position: fixed;
    
}

.is-flowHidden {
    overflow: hidden;
    scroll-behavior: smooth;
}


/*  */
.is-sidebar {
    width: 90%;
    /* background:#212121 !important; */
    text-align: center;
    overflow: hidden;
    padding: 0px !important;
}

.is-sidebar p {
    /* margin:10px; */
    display: block;
    padding: 6px !important;
    margin: 0px 0 9px;
}

.is-sidebar a {
    text-decoration: none !important;
    color: #999 !important;
    /* margin:3px 0 0px !important; */
    /* margin:-10px 0 -10px 0; */
}

.is-sidebar a:hover {
    color: #fff !important;
}

.is-sidebar a span {
    display: block;
    padding: 2px 0 0px;
}