body {
    background: #f6f6f6 !important;
    margin: 0px;
    padding: 0px;
}
/*  eyeQ */
.has-shadow {
    box-shadow: 4px 10px 60px 0px rgba(200, 200, 250, 0.3) !important;
    border-bottom:4px solid  rgba(200, 200, 250, 0.5);
    transition:all 200ms linear;
}
.has-shadow-2 {
    box-shadow: 2px 1px 20px rgba(174, 174, 233, 0.5);
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f9f9f9;
}

.has-radius{
    border-radius:5px !important;
}

.has-radius-1{
    border-radius:10px !important;
}
.has-radius-2{
    /* border-radius:20px !important; */
    border-radius: 15px;
}
.has-radius-r{
    border-radius:50%;
}
.button.has-shadow,a.has-shadow{
    box-shadow: 4px 10px 60px 0px rgba(200, 200, 250, 0.4) !important;
    border-bottom:4px solid  rgba(200, 200, 250, 0.5);
    transition:all 100ms linear;
}

.button.has-shadow:hover,a.has-shadow:hover{
    border-color:#d4d4d4 !important;
    box-shadow: 4px 10px 60px 0px rgba(200, 200, 250, 0.6) !important;
    border-bottom:4px solid  rgba(200, 200, 250, 0.7) !important;
}

.has-border-1{
    border:1px solid #e5e5e5;
}